/* src/screens/ShowListScreen.css */

/* Style for container */
.container {
    background-color: #000;
    color: #fff; /* Text color */
    padding: 20px; /* Add padding for better readability */
}

/* Style for card */
.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #8b0000; /* Red background */
    color: #fff; /* Text color */
    margin-bottom: 20px; /* Add margin between cards */
}

/* Style for card title */
.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

/* Style for card text */
.card-text {
    color: #fff; /* Text color */
}
/* src/screens/ShowListScreen.css */

/* Style for show list heading */
.show-list-heading {
    font-size: 2.5rem; /* Larger font size */
    font-weight: bold; /* Bold font weight */
    color: #dc3545; /* Red color */
    text-align: center; /* Center align */
    margin-bottom: 2rem; /* Add margin at the bottom */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for depth */
}
.btn-danger {
    background-color: black; /* Change button background color to blue */
    border-color: blue; /* Change button border color to blue */
}

.btn-danger:hover {
    background-color: white; /* Darker blue on button hover */
    border-color: #0288d1; /* Darker blue on button hover */
}
